@model IEnumerable<CourseProject.Models.Enrollment>
<h3>Swimmer Name: @ViewData["sname"]</h3>
<table border="1">
    <tr>
        <th>Session Title</th>
        <th>Grade</th>
        <th>Coach</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Session.SessionTitle</td>
            <td>@Html.DisplayFor(m => c.LetterGrade)</td>
            <!--<td><a asp-controller="Coach" asp-action="AddProfile"
                asp-route-id="@c.Coach.CoachId">@c.Coach.CoachName</a></td>-->
        </tr>
    }
</table>
<p><a asp-action="Index">Back to swimmer home</a></p>