@model IEnumerable<CourseProject.Models.Session>
<h2>@Model.FirstOrDefault().Coach.CoachName</h2>
@{
    if (Model.Count() < 1)
    {
        <p>
            You don't have any sessions yet. <a asp-for="AddSession">
                Add a session
            </a>
        </p>
    }
    else
    {
        <h3>All Sessions</h3>
        <table border="1">
            <tr>
                <th>Session ID</th>
                <th>Session Title</th>
                <th>Seat Capacity</th>
                <th>Post Grade</th>
                <th>Swimmer Feedback</th>
            </tr>
            @foreach (var session in Model)
            {
                <tr>
                    <td>@session.SessionId</td>
                    <td>@session.SessionTitle</td>
                    <td>@session.SeatCapacity</td>
                    <td>
                        <a asp-controller="Coach"
                           asp-action="PostGrade"
                           asp-route-id="@session.SessionId">
                            Post grade
                        </a></td>
                    <td>
                        <a asp-controller="Coach"
                           asp-action="SwimmerFeedback"
                           asp-area="session.SessionFeedBack">
                            Post FeedBack
                        </a>
                    </td>
                </tr>
            }
        </table>
    }
}
<p><a asp-action="Index">Back to Coach Home</a></p>